@use '../../styles/variables.scss' as *;

.container {
  background: $color-blue-dark;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  .header {
    margin-bottom: 4rem;
    color: $color-green-dark;
  }

  .teamForm {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .back {
    transform: translate(335px, -346px);
    position: absolute;
  }
  .logoArrowBack {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
  }
}
