$color-green-light: rgb(97, 165, 104);
$color-green-dark: rgb(66, 88, 68);

$color-blue-dark: rgb(16, 29, 44);

$color-grey-dark: rgb(170, 170, 170);
$color-grey-light: rgb(245, 245, 245);

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $color-grey-light;
  font-size: 1.6rem;
}

// h4
.titleFour {
  color: $color-green-light;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 2.3rem;
  text-align: center;
}

//h1
.titleOne {
  color: $color-grey-light;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.5rem;
  padding-bottom: 3rem;
}

//h2
.titleTwo {
  color: $color-grey-light;
  font-size: 4rem;
  font-weight: 700;
  line-height: 100%;
}

//h3
.titleThree {
  color: $color-green-light;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2.1rem;
}
