@use '../../styles/variables.scss' as *;

.profileAndLogout {
  display: flex;
  justify-content: end;
  transform: translateY(-5.5rem);
  gap: 2rem;
}

.userName {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-green-light;
  font-size: 3rem;
}
