@use './styles/_variables.scss' as *;

.container {
  display: grid;
  grid-template-rows: 80rem min-content max-content repeat(3, min-content);
  grid-template-columns:
    8rem minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem))
    minmax(6rem, 1fr);
  background-color: $color-grey-light;
}
